header {
    background-color: rgb(16, 16, 16);
    position: relative;
   
    height: 130px;
  }
  body {
    margin: 0;
    padding: 0;
  }
  .hd {
    display: flex;
    justify-content: center;
    text-decoration: none;
    gap: 100px;
    list-style-type: none;
    color: white;
    font-weight: 600;
    padding-top: 60px;
    padding-left: 800px;
  }
   header img {
    width: 150px;
    left: 300px;
    top: 10px;
    position: absolute;
    background-color: rgba(20, 2, 2, 0.912);
    border-radius: 50px;
  }
  header li {
    background-color: rgb(46, 75, 75);
    height: 25px;
    width: 90px;
    text-align: center;
    border-radius: 20px;
    padding-top: 4px;
    
  }
  .home{border: 3px solid white;}
  